<!-- <span>Hello World, welcome to {{title}}</span> -->
<nav>
	<ul>
		<li><a routerLink="/">Home</a></li>
		<li><a routerLink="/basic">Basic</a></li>
		<li><a routerLink="/structure-directives">Structure Directives</a></li>
		<li><a routerLink="/pipes">Pipes</a></li>
		<li><a routerLink="/forms">Forms</a></li>
		<li><a routerLink="/reactive-forms">Reactive Forms</a></li>
		<li><a routerLink="/components-communication">Components Communication</a></li>
		<li><a routerLink="/services">Services</a></li>
		<li><a routerLink="/crud">Crud</a></li>
		<li><a routerLink="/about">About</a></li>
	</ul>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>